/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Roboto:wght@400;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*===== FONTS CSS =====*/
@font-face {
  font-family: "Akira Expanded";
  src: url(../Fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}
/*===== FONTS CSS =====*/

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;
  --font-semi: 600;
  /*===== Colores =====*/
  --first-clr: #f2f705;
  --white: #fff;
  --body-bg: #4c9540;
  /*===== Fuente y tipografia =====*/
  --body-font: "Roboto", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}
/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white);
  background-color: var(--body-bg);
  overflow-x: hidden !important;
  min-height: 100vh;
  width: 100%;
  height: auto;
  position: relative;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

::selection {
  background-color: #fff;
  color: var(--body-bg);
}
/*===== CLASS CSS ===== */
a.button {
  padding: 13px 24px;
  background: #f2f705;
  border-radius: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: block;
  text-transform: capitalize;
}
header {
  width: 100%;
  background-color: var(--body-bg);
  padding-block: 10px;
  // min-height: auto;
  z-index: var(--z-fixed);
  position: fixed;

  @media (max-width: 700px) {
    .nav-logo {
      width: 89px;
    }
  }

  .nav-ul {
    // background-color: red;
    li {
      a {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
    }

    @media (max-width: 700px) {
      position: absolute;
      height: 0px;
      width: 100%;
      top: 5.5rem;
      background-color: var(--body-bg);
      overflow: hidden;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: height 0.3s linear;
    }
  }
  .nav-ul.open {
    height: 300px;
    border-bottom: 3px solid #f2f705;
  }
  a.button {
    margin-inline-start: auto;
    padding: 13px 24px;
    background: #f2f705;
    border-radius: 32px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

    @media (max-width: 700px) {
      display: none;
    }
  }
  .menu {
    font-size: 3rem;
    margin-inline-start: auto;
    color: var(--first-clr);
    cursor: pointer;

    @media (min-width: 700px) {
      display: none;
    }
  }
}

#hero {
  width: 100%;
  padding-block: 80px;

  @media (max-width: 700px) {
    padding-block: 150px;
  }

  .row {
    h1.title {
      font-family: "Akira Expanded", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 82px;
      line-height: 84px;
      color: #ffffff;
      // word-break: break-all;

      span {
        color: var(--first-clr);
      }

      @media (max-width: 700px) {
        font-size: 40px;
        line-height: 46px;
      }
    }
    p.info {
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #ffffff;
      max-width: 500px;

      @media (max-width: 700px) {
        font-size: 11px;
        line-height: 16px;
      }
    }
    .logo {
      width: 400px;
    }

    .btn-div {
      a.button:last-child {
        background-color: transparent;
        color: var(--white);
        border: 1px solid #fff;
      }
    }
  }
}

main {
  width: 100%;

  #about {
    background: url(../images/about-bg.png) center center no-repeat;
    background-color: #000000;
    background-size: cover;
    padding-block: 50px;

    h1.title {
      font-family: "Akira Expanded", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 55px;
      color: #ffffff;

      @media (max-width: 700px) {
        font-size: 29.7924px;
        line-height: 34px;
      }
    }
    p.info {
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: #ffffff;
      max-width: 550px;

      @media (max-width: 700px) {
        font-size: 11.1721px;
        line-height: 19px;
      }
    }
    .btn-div {
      a.button:last-child {
        background-color: transparent;
        color: var(--white);
        border: 1px solid #fff;
      }
    }
  }

  #tokenomics {
    width: 100%;
    background-color: #0c5300;
    padding-block: 50px;

    h1.title {
      font-family: "Akira Expanded", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 55px;
      color: #ffffff;
      text-align: center;

      @media (max-width: 700px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
    .row {
      div {
        height: 364px;
        background: rgba(242, 247, 5, 0.27);
        border-radius: 34px;
        margin-inline: auto;

        @media (min-width: 1100px) {
          width: 312px;
        }
        h2 {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 32px;
          line-height: 44px;
          color: #ffffff;

          @media (max-width: 700px) {
            font-size: 26.9515px;
            line-height: 37px;
          }
        }
        p {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #ffffff;
          @media (max-width: 700px) {
            font-size: 13.4757px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: var(--body-bg);
  padding-block: 20px;
}
